html,
body {
  background-color: var(--body-bg);
  height: 100%;
  overflow: hidden;
  margin: 0;
}

.star {
  width: var(--star-size);
  height: var(--star-size);
  filter: blur(var(--star-blur));
  position: fixed;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
  opacity: 0.4;
}

.x_rotate {
  animation: xRotate 1s linear;
}

@keyframes xRotate {
  0% {
    transform: scale(1) rotateX(0);
  }

  100% {
    transform: scale(var(--star-max-scale)) rotateX(var(--star-rotate-max-deg));
  }
}

.y_rotate {
  animation: yRotate 1s linear;
}

@keyframes yRotate {
  0% {
    transform: scale(1) rotateY(0);
  }

  100% {
    transform: scale(var(--star-max-scale)) rotateY(var(--star-rotate-max-deg));
  }
}

.z_rotate {
  animation: zRotate 1s linear;
}

@keyframes zRotate {
  0% {
    transform: scale(1) rotateZ(0);
  }

  100% {
    transform: scale(var(--star-max-scale)) rotateZ(var(--star-rotate-max-deg));
  }
}

:root {
  --star-size: 20px;
  --star-max-scale: 0.9;
  --star-rotate-max-deg: 270deg;
  --star-blur: 5px;
  --body-bg: #000;
}
