html,
body {
  background-color: var(--body-bg);
  height: 100%;
  margin: 0;
}

.star {
  width: var(--star-size);
  height: var(--star-size);
  filter: blur(var(--star-blur));
  position: absolute;
  opacity: 0.4;
  animation: starAnim 4s linear;
}

@keyframes starAnim {
  0% {
    transform: scale(var(--star-from-scale));
  }

  100% {
    transform: scale(var(--star-to-scale));
  }
}

:root {
  --star-size: 20px;
  --star-from-scale: 1;
  --star-to-scale: 1;
  --star-blur: 5px;
  --body-bg: #393939;
}
